{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
        <title>Day in the Life</title>
<!-- 
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
 -->
        <link href="https://fonts.googleapis.com/css?family=Monoton:400|Raleway:400,700"rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/the.css' %}">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.0-rc.1/jquery-ui.min.js" integrity="sha256-mFypf4R+nyQVTrc8dBd0DKddGB5AedThU73sLmLWdc0=" crossorigin="anonymous"></script>
        <script src="{% static 'js/main.js' %}"></script>
    </head>
    <body>
    <div id="fixed-top">
		{% if user and not user.is_anonymous %}
		<div id="fixed-top-left">
			<ul>
				<li id="posts-ico"></li>
				<li data-type='status' data-hold='off'><a>STATUS</a></li>
				<li data-type='notifications' data-hold='off'><a>NOTIFICATIONS</a></li><!--<div id="fixed-top-center"><h3>ditl</h3></div>-->
				<li></li>
			</ul>
		</div><div id="fixed-top-right">
			<ul>
				<li>
					<a href="{% url 'auth:logout' %}?next={{ request.path }}">LOGOUT</a>
				</li>
				<li id="explore-ico"></li>
			</ul>
		</div>
		{% else %}
		<div></div>
		<div></div>
		<div id="fixed-top-right">
			<ul>
				<li>

				</li>
			</ul>
		</div>
		{% endif %}
		</div>
	</div>

    <header>
    	<div>
        	<h1><a href="/"><span>D</span><span>a</span><span>y</span>&nbsp;&nbsp;<span>i</span><span>n</span>&nbsp;&nbsp;&nbsp;<span>t</span><span>h</span><span>e</span>&nbsp;&nbsp;&nbsp;<span>l</span><span>i</span><span>f</span><span>e</span></a></h1>
   		</div>
    </header>

    <div class="content-wrap">
	{% if user and not user.is_anonymous %}
		<div class="left-holder">
			<div id="fixed-side">
				<div id="user">
			
				</div>
				<div>
					<div class="post-form-container">
						{% block form %}
						{% endblock %}
					</div>
				</div>
			
			</div>
		</div><div class="center">
			<div id="drop-top">
				<h2>POSTS: <span id="filter"></span><span id="order"></span></h2> 
			</div>
			<div class="main-feed">
			</div>
		
		</div><div class="sorter">
			<div>
				<h2>EXPLORE</h2>
				<div data-my="response__author_id" class="sort">
				<span class="sort-arrow">«</span> <span>my conversations</span>
				</div>
				<div data-faves="author_id__in" class="sort">
				<span class="sort-arrow">«</span> <span>my favorite users</span>
				</div>
				<div>
					<div data-pop="-resp_count" rel="pub" class="sort">
					<span class="sort-arrow">«</span> <span>most popular posts</span>
					</div>

					<div data-pub="published_date" rel="pop" class="sort">
					<span class="sort-arrow">«</span> <span>ending soon</span>
					</div>
				</div>
			
				<h2>SEARCH</h2>
				<div id="search-box">
					<input type="text"></input>
					<input type="submit" name="search" id="search-threads"></input>
				</div>
				<h2>TRENDING</h2>
				<div id="keywords">
					{% block sidebar %}
					{% endblock %}
				</div>
			</div>
		</div>
		
		
	{% else %}
		<div  class="left-holder">
			<div  class="main-feed" style="opacity:1">
				<ul id="login">
					<li class="fbook">
						<a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
							Login with Facebook<br><br>
							<img src="{% static 'img/ico/fbook.svg' %}"></img>
						</a>
					</li>
					<li class="googleplus">
						<a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">
							Login with Google<br><br>
							<img src="{% static 'img/ico/googleplus.svg' %}"></img>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="center">
			
		</div>
		<!-- 
<div class="sorter">
		</div>
 -->
	{% endif %}	
    </div>
    <div class="scroll-to-top"><h1>^</h1></div>
	<div id="thread-div-pop" class="thread-pop">
	<div class="white-space">
		<div class="details">
		</div>
	</div>
	</div>
	<div id="thread-wrapper-pop"></div>
</body>
</html>