{% load apptags %}
<div id="status">
	<h1><div class="status-user">Notifications<span class="close-btn"></span></div></h1>
	<div id="status-wrap">
		
		{% for r in responses %}
			{% if r.user_id %}
				{% if r.option == "SE" %}
			
				<ul class="notify" data-pk="{{ r.post_id }}" data-thread_id="{{ r.post.thread.id }}" data-type="{% split_vote r 3 %}">
					<li>
						<span class="notify-heart"></span>
						<p>{% split_vote r 1 %}</p>
						
						
					</li>
					<li>
						<p>User {{ r.user_id }}</p><div class="utc">{{ r.published_date | date:'G:i' }}</div>
					</li>
				</ul>
				{% else %}
				<ul class="notify" data-pk="{{ r.post_id }}" data-thread_id="{{ r.post.thread.id }}" data-type="{% split_vote r 3 %}">
					<li>
						<span class="notify-troll"></span>
						<p>{% split_vote r 1 %}</p>
					</li>
					<li>
						<p>User {{ r.user_id }}</p><div class="utc">{{ r.published_date | date:'G:i' }}</div>
					</li>
				</ul>
				{% endif %}
			{% else %}
				{% if r.resp_count >= 0 %}
				<ul class="notify" data-pk="{{ r.pk }}" data-thread_id="{{ r.thread_id }}"  data-type="thread">
					<li>
						<span class="notify-thread"></span>
						<p>{{ r.title }}</p>
					</li>
					<li>
						<p>User {{ r.author_id }}</p><div class="utc">{{ r.published_date | date:'G:i' }}</div>
					</li>
				</ul>
				{% else %}
				<ul class="notify" data-pk="{{ r.pk }}" data-thread_id="{{ r.thread_id }}"  data-type="response">
					<li>
						<span class="notify-response"></span>
						<p>{{ r.title }}</p>
					</li>
					<li>
						<p>User {{ r.author_id }}</p> <div class="utc">{{ r.published_date | date:'G:i' }}</div>
					</li>
				</ul>
				{% endif %}
			{% endif %}
		{% endfor %}
	</div>
</div>

