{% load apptags %}
<div id="status">
	<h1><div class="status-user">Notifications<span class="close-btn"></span></div></h1>
	<div id="status-wrap">
	{% if responses %}	
		{% for r in responses %}
			{% if r.user_id %}
				{% if r.option == "SE" %}
			
				<ul class="notify" data-pk="{{ r.post_id }}" data-thread_id="{{ r.post.thread.id }}" data-type="{{ r }}">
					<li>
						<span class="notify-heart"></span>
					</li>
					<li>
						<p>{{ r.post.title }}</p>
						<p>User {{ r.user_id }} liked one of your posts.</p>	
						
					</li>
					<li>
						<div class="utc">{{ r.published_date | date:'G:i' }}</div>
					</li>
				</ul>
				{% else %}
				<ul class="notify" data-pk="{{ r.post_id }}" data-thread_id="{{ r.post.thread.id }}" data-type="{{ r }}">
					<li>
						<span class="notify-troll"></span>
					</li>
					<li>	
						<p>{{ r.post.title }}</p>
						<p>User {{ r.user_id }} troll voted one of your posts.</p>
						
					</li>
					<li>
						<div class="utc">{{ r.published_date | date:'G:i' }}</div>
					</li>
				</ul>
				{% endif %}
			{% else %}
				{% if r.resp_count >= 0 %}
				<ul class="notify" data-pk="{{ r.pk }}" data-thread_id="{{ r.thread_id }}"  data-type="thread">
					<li>
						<span class="notify-thread"></span>
					</li>
					<li>	
						<p>{{ r.title }}</p>
						<p>User {{ r.author_id }} started a new conversation.</p>
					</li>
					<li>
						<div class="utc">{{ r.published_date | date:'G:i' }}</div>
					</li>
				</ul>
				{% else %}
				<ul class="notify" data-pk="{{ r.pk }}" data-thread_id="{{ r.thread_id }}"  data-type="response">
					<li>
						<span class="notify-response"></span>
					</li>
					<li>
						<p>{{ r.title }}</p>
						{% if user == r.thread.author_id %}
							<p>User {{ r.author_id }} posted to a conversation you started.</p>
						{% else %}
							<p>User {{ r.author_id }} posted to a conversation you are involved in.</p>
						{% endif %}
					</li>
					<li>
						<div class="utc">{{ r.published_date | date:'G:i' }}</div>
					</li>
				</ul>
				{% endif %}
			{% endif %}
		{% endfor %}
	{% else %}	
		<p class="small">No new notifications at this time.  Post more stuff!</p>
	{% endif %}	
	</div>
</div>

