<h3>your status is {{status}}</h3>
<p>you can improve your status by posting nice responses to other people's posts and Voting people elf.  
Please use Troll voting sparingly as this does nothing to improve your status.</p>
<br><br><br>
{{favorited}}
<br><br><br>
<hr>

<h2>TODAY</h2>
<h3>your votes for other peoples threads and resonses</h3>
 {{user_votes}}<br><br>
 <p>out of  {{total_votes}} total votes that you have made</p>
<br><br>

<br><br><br>
<hr>
<h3>your responses got these votes</h1>
{{rvotes}}<br>

<br><br><br>
<hr>
<h3>your threads got these votes</h1>
{{tvotes}}<br>
