
<div id="status">
	<!-- <span class="close-btn"></span> -->
	<h1><div class="status-user">Ranking<span class="close-btn"></span></div></h1>
	<div id="status-wrap">
 		
<!-- 
		activity_list = [activity_ranking, my_activity_ranking, max_activity_points, my_activity_points, total_activity_points]
 -->
 		{% if activity_list %}
		<h4>Activity<span>#{{ activity_list.1 }}</span></h4>
		<p class="large">Your activity ranking is #{{ activity_list.1 }}, out of {{ total_users }} users. You have {{ activity_list.3 }} points. The highest ranking user has {{activity_list.2}} points.</p><!--  The high score is {{ total_activity_points }} points -->
	
		<p class="small">Your Activity ranking is based on how much you have been posting in the last 14 days.</p>  
		<div class="graph">
			<ul data-users="{{total_users}}" class="other-graph">
			{% for u, r in activity_list.0 %}
				{% if user == u %}
				<li style='height:calc((50px * ({{r}} / {{activity_list.2}})) + 20px);width:calc(100% / {{total_users}})' class="my-graph" data-user='{{u}}' data-points='{{r}}'></li>
				{% else %}
				<li style='height:calc((50px * ({{r}} / {{activity_list.2}})) + 20px);width:calc(100% / {{total_users}})' data-user='{{u}}' data-points='{{r}}'></li>
				{% endif %}
			{% endfor %}
			</ul>
		</div>
		{% else %}
		<h4>Activity</span></h4>
		<p class="large">You are not very active.  Please post a bunch of stuff and like other users' post to gain activity points</p>
		{% endif %}
<!-- 
		my_thread_list = [thread_responses_count, thread_se_votes, thread_tr_votes]
 -->
 		{% if thread_list %}
		<h4>Popularity<span>#{{ thread_list.1 }}</span></h4>
		<p class="large">Your Post ranking is #{{ thread_list.1 }}, out of {{ total_users }} users. You have {{ thread_list.3 }} points. The highest ranking user has {{thread_list.2}} points.</p><!--  The high score is {{ total_activity_points }} points -->
	
		<p class="small">Your Post ranking is based on how many votes and comments your posts have recieved in the last 14 days.</p>  
		<div class="graph">
			<ul data-users="{{total_users}}" class="other-graph">
			{% for u, r in thread_list.0 %}
				{% if user == u %}
				<li style='height:calc((50px * ({{r}} / {{thread_list.2}})) + 20px);width:calc(100% / {{total_users}})' class="my-graph" data-user='{{u}}' data-points='{{r}}'></li>
				{% else %}
				<li style='height:calc((50px * ({{r}} / {{thread_list.2}})) + 20px);width:calc(100% / {{total_users}})' data-user='{{u}}' data-points='{{r}}'></li>
				{% endif %}
			{% endfor %}
			</ul>
		</div>
		{% else %}
		<h4>Your Posts</span></h4>
		<p class="large">Your posts have not received any responses or votes in the past 14 days.  Please post a bunch of intriguing stuff to have people vote and respond to your posts</p>
		{% endif %}
		<h4>Are you a troll?</h4>
		{% if troll_posts %}
		<p class="large">Yes!?! You have been posting stuff that people don't like.  You can start posting again on {{ troll_posts }}.  </p>
		{% else %}
		<p class="large">Nope. You are all good.</p>
		{% endif %}
		<p>
		<br><br><br><br>
		</p>
	</div>
</div>
