{% load apptags %}
{% if threads and user %}
	{% for thread in threads %}
	
	<div class="thread" id="{{ thread.pk }}">
		<div class="post-user" data-thread="{{ thread.pk }}"> <p><span>U</span><span>s</span><span>e</span><span>r</span> <span>{{ thread.author_id }}</span></p> <p>posted at {{ thread.published_date.time }} today</p></div>
		<div class="expand">
			<ul class="expand-left">
				<li>
					<svg width="32" height="32" class="small-chart">
						<circle r="8" cx="16" cy="16" style="stroke-dasharray:{% time_since_post thread.published_date %}, 49.9" class="small-pie" />
					</svg>
				</li>
				<li>
					<p>
						{% clock thread.published_date %}
						<span>left</span>
					</p>
				</li>
			</ul>
			<ul class="expand-right">
				<li>
					<div class="thread-bubble">
						{{ thread.text }}
					</div>
				</li>
				<li>
					<p>{{thread.response_set.count}} responses | {% get_all_votes thread.pk thread.tvote_set thread.response_set %}</p>
				</li>
			</ul>
		</div>
		<div class="white-space">
			<div class="details"></div>
		</div>
	</div>
	
	{% endfor %}
{% elif not threads and user %}
<!--this is just a blank-->
{% else %}

{% endif %}
