{% load apptags %}
<div class="middle-box"> 
	{% if t.author == user %}
		{% if t.is_active == 0  %}
		<div class="bubble-user">
			<div class="respo-vote-left" data-post="{{ t.pk }}">
				<span class="close-btn"></span>
			</div>
			<p>{{ t.text|linebreaks }}</p>
		</div>
		<div class="date-user">
			You posted at {{ t.published_date.time }} | {% get_votes t.pk t.tvote_set %}
		</div>
			
		{% elif t.is_active == 1 %}
			<div class="bubble-user  bubble-deleted-user" data-post="{{ t.pk }}" data-type="thread">
				<p>
			
				</p>
			</div>	
			<div class="date-user">
				You posted at {{ t.published_date.time }} | {% get_votes t.pk t.tvote_set %}<br>
				<br>There were comments on this thread. You have to<br>
					wait until the thread has expired to post a new one.<br>
					You can restore this thread by clicking on it.<br>
			</div>
		
		{% else %}
			<div class="bubble-user  bubble-trolled">
				<p>Your thread has been marked as troll >:( </p>
				
			</div>
			<div class="date-user">
				You posted at {{ t.published_date.time }} | {% get_votes t.pk t.tvote_set %}
				<br><br>Users can no longer post comments here.<br> 
				 You have to wait until this thread has expired<br>
				 to post a new thread.
			</div>
		
		{% endif %}
		
	{% else %}
		{% if t.is_active == 0  %}
			<div class="bubble-middle">
				<div class="respo-vote-right">
					<ul class="vote-list-response" data-post="{{ t.pk }}" data-bind="{% get_user_votes t.pk t.tvote_set request.user %}" data-type="thread">
						<li id="TR" data-vote="TR"><div>Troll</div></li><li id="SE" data-vote="SE"><div>Elf</div></li>
					</ul>
				</div>
		
				<p>{{ t.text|linebreaks }}</p>
			</div>
			<div class="date-middle">
				<span class="post-user-respo">User {{ t.author_id }}</span> posted at {{ t.published_date.time }} | {% get_votes t.pk t.tvote_set %}
			</div>
			
		{% elif t.is_active == 1 %}
			<div class="bubble-middle bubble-deleted">
				<p>
			
				</p>
			</div>
			<div class="date-middle">
				<span class="post-user-respo">User {{ t.author_id }}</span> deleted their thread
				<br><br>You can no longer post comments here. :(<br> 
				 Scroll or use the menu to find other theads to post to. 
			</div>	
		{% else %}
			<div class="bubble-middle bubble-trolled">
				<p>This thread has been marked as troll >:( </p>
			</div>
			<div class="date-middle">
				<span class="post-user-respo">User {{ t.author_id }}</span> posted at {{ t.published_date.time }} | {% get_votes t.pk t.tvote_set %}
				<br><br>You can no longer post comments here. :(<br> 
				 Scroll or use the menu to find other theads to post to.
			</div>	
		{% endif %}
	{% endif %}
</div>		

	
{% if t.is_active == 0  %}
		{% for r in response %}
			{% if r.author == user %}
				<div class="middle-user-box">
				{% if r.is_active == 0 %}
					<div class="bubble-user">
						<div class="respo-vote-left" data-post="{{ r.pk }}" data-thread="{{ t.id }}">
							<span class="close-btn"></span>
						</div>
						<p>{{ r.text|linebreaks }}</p>
			
				{% elif r.is_active == 1 %}
					<div class="bubble-user bubble-deleted-user" data-post="{{ r.pk }}" data-type="response">
						<p>
		
						</p>
				{% else %}
					<div class="bubble-user bubble-trolled">
						<p>This comment has been marked as troll >:( </p>
	
				{% endif %}
			
			{% else %}
			<div class="middle-box">
				{% if r.is_active == 0 %}
					<div class="bubble-middle">
						<div class="respo-vote-right">
							<ul class="vote-list-response" data-post="{{ r.pk }}" data-bind="{% get_user_votes r.pk r.rvote_set request.user %}" data-type="response">
								<li id="TR" data-vote="TR"><div>Troll</div></li><li id="SE" data-vote="SE"><div>Elf</div></li>
							</ul>
						</div>
						<p>{{ r.text|linebreaks }}</p>
				{% elif r.is_active == 1 %}
					<div class="bubble-middle bubble-deleted">
						<p>
			
						 </p>
				{% else %}
					<div class="bubble-middle bubble-trolled">
						<p>This comment has been marked as troll >:( </p>
	
				{% endif %}
			{% endif %}
				</div>
	
			{% if r.author == user %}
				{% if r.is_active == 0 %}
					<div class="date-user">
						You posted at {{ r.published_date.time }} | {% get_votes r.pk r.rvote_set %}
					</div>
				{% elif r.is_active == 1 %}
					<p class="date-user">
					  Deleted. Click to restore
					</p>
				{% else %}
					<div class="date-user">
						You posted at {{ r.published_date.time }} | {% get_votes r.pk r.rvote_set %}
					</div>
				{% endif %}
			{% else %}
				{% if r.is_active == 0 %}
					<div class="date-middle">
						<span class="post-user-respo">User {{ r.author_id }}</span> posted at {{ r.published_date.time }} | {% get_votes r.pk r.rvote_set %}
					</div>
				{% elif r.is_active == 1 %}
					<div class="date-middle">
						<span class="post-user-respo">User {{ r.author_id }}</span> deleted their comment
					</div>
				{% else %}
					<div class="date-middle">
						<span class="post-user-respo">User {{ r.author_id }}</span> posted at {{ r.published_date.time }} | {% get_votes r.pk r.rvote_set %}
					</div>
				{% endif %}
			{% endif %}
			</div>
		{% endfor %}
	
{% endif %}
		
		




