{% load apptags %}
<div id="scroll-stop"></div>
<div id="user-top">
	<ul data-timediff="{{ timediff }}">
		<li>
			<svg width="40" height="40" class="chart">
				<circle r="10" cx="20" cy="20" class="pie" fill=url('#grad2')/>
			</svg>
		</li><li>
			<h3>User {{ user.id }}</h3>
		
		</li>
	</ul>
	<p><span id="time-text"></span></p>
</div>

<div class="user-view" data-scroll="down">
	 <div id="user-view-spacer"></div>
	 <div class="user-box-container" data-thread ="{{ curr_thread.id }}">
		 {% if curr_thread %}
		 <div class="user-box" >
			{% if curr_thread.author == user %}
			<div class="ti">
			{% else %}
			<div class="ti-other">
			{% endif %}
		 
				{{ curr_thread.text|linebreaks }}
			 </div>
		 
			 <p class="date-user">
				You posted at {{ curr_thread.published_date.time }} <b>|</b> {% get_votes curr_thread.pk curr_thread.tvote_set %}
			 </p>		
		
		 </div>

		 {% for response in respo %}
			{% if response.author == user %}
			<div class="middle-user-box">
				<div class="bubble-user">
					{% if response.is_active == 0 %}
					<div class="respo-vote-left" data-post="{{ response.pk }}">
						<span class="close-btn"></span>
					</div>
					{% endif %}
			{% else %}
			<div class="middle-box">
				<div class="bubble-middle">
					{% if response.is_active == 0 %}
					<div class="respo-vote-right">
						<ul class="vote-list-response" data-post="{{ response.pk }}" data-bind="{% get_votes_r response.pk response.rvote_set request.user %}" data-type="response">
							<li id="TR" data-vote="TR"><div>Troll</div></li><li id="SE" data-vote="SE"><div>Elf</div></li>
						</ul>
					</div>
					{% endif %}
			{% endif %}
				<p>
				{% if response.is_active == 0 %}
					{{ response.text|linebreaks }}
				{% elif response.is_active == 1 %}
					<span class="deleted">This response has been deleted by the user</span>
				{% else %}
					<span class="trolled">There is a troll in our midst >:( </span>
				{% endif %}
				</p>
			</div>
		
			{% if response.author == user %}
			 <p class="date-user">
			  You posted at {{ response.published_date.time }} <b>|</b> {% get_votes response.pk response.rvote_set %}
			</p>
			{% else %}
			 <p class="date-middle">
				<span class="post-user-respo">User {{ response.author_id }}</span> posted at {{ response.published_date.time }} <b>|</b> {% get_votes response.pk response.rvote_set %}
			 </p>
			{% endif %}
		
		 </div>
		 {% endfor %}
		 {% endif %}
	</div>
</div>

